SANITY_STUDIO_PROJECT_ID=
SANITY_STUDIO_TEST_DATABASE=

# The value can be either production, preview, or development
SANITY_STUDIO_VERCEL_ENV=
SANITY_STUDIO_VERCEL_URL=

# see https://www.sanity.io/docs/api-versioning for how versioning works
SANITY_STUDIO_SANITY_API_VERSION=

